@font-face {
  font-family: "DeskScratch";
  src: url("assets/fonts/DeskScratch.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
}

#bodyContainer {
  background-image: url("assets/desk.jpg");
  background-size: cover;
  background-position: center;
}

#gameAndPowerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameContainer {
  position: relative;
  --aspect-ratio: 0.7071; /* A4 paper ratio */
  height: 95vh;
  width: calc(var(--aspect-ratio) * 95vh);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  margin: 2rem;
  background-image: url("assets/paper.jpg");
  background-size: cover;
  background-position: center;
}

#drawCanvas,
#physicsCanvas {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  border: 1px solid #000;
  background-color: transparent; /* Ensure the background is transparent */
}

#sideContainer {
  display: flex;
  flex-direction: column; /* Stacks power meter, buttons, and timer vertically */
  align-items: center;
}

#powerMeterContainer {
  display: flex;
  align-items: flex-end;
  width: 3rem;
  height: 60vh;
  border: 2px solid #000;
  margin-bottom: 1rem; /* Space between power meter and buttons */
}

#powerMeterFill {
  width: 100%;
  background-color: red;
  height: 0%; /* Initial height of the power meter fill */
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem; /* Space between buttons and turn timer */
}

.button {
  font-family: "DeskScratch";
  font-size: 1.5rem;
  -webkit-text-stroke: 0.005rem rgba(200, 200, 200, 0.9);
  padding: 0.5rem 0.5rem;
  background-color: rgba(15, 15, 15, 0);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
}

.button:hover {
  background-color: rgba(15, 15, 15, 0.2);
}

.button:active {
  transform: scale(0.98); /* Slightly reduce size to give pressed look */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); /* Create inset shadow for pressed effect */
  background-color: rgba(15, 15, 15, 0.3); /* Slightly darker background on press */
}

#turnTimerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#turnTimer {
  font-family: "DeskScratch";
  font-size: 3.2rem;
  color: rgba(15, 15, 15, 0.9);
  text-align: center;
  -webkit-text-stroke: 0.005rem rgba(200, 200, 200, 0.9);
}
