html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
}

#bodyContainer {
  background-image: url("assets/desk.jpg");
  background-size: cover;
  background-position: center;
}

#gameAndPowerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameContainer {
  position: relative;
  --aspect-ratio: 0.7071; /* 1 / 1.4142 - the ratio of a standard piece of A4 lined notebook paper */
  height: 80vh;
  width: calc(var(--aspect-ratio) * 80vh); /* Width is now flipped to be aligned with the A4 paper ratio */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  margin: 20px;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #000;
  background-image: url("assets/paper.jpg");
  background-size: cover;
  background-position: center;
}

#powerMeterContainer {
  display: flex;
  align-items: flex-end;
  width: 50px;
  height: 60vh;
  border: 2px solid #000;
  margin-left: 20px;
  position: relative;
}

#powerMeterFill {
  width: 100%;
  background-color: red;
  height: 0%;
  /* smooth fill */
  transition: height 0.1s ease;
}

.button-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  background-color: orange;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #cf8b0e;
}
